---
layout: default
title: Category
---
<section align="center">
	<h1>/{{ page.category }}/</h1>
</section>
<section>

	<section>
		{% for post in site.categories[page.category] %}
		{% unless post.next %}
		<h3>{{ post.date | date: '%Y' }} &#172;</h3>
		{% else %}
		{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
		{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
		{% if year != nyear %}
		<h3>{{ post.date | date: '%Y' }} &#172;</h3>
		{% endif %}
		{% endunless %}

		<ul>
			<li>
				<div class="post-date">
					<span>{{ post.date | date: "%b %d" }}</span>
				</div>
				<div class="title">
					<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</div>
			</li>
		</ul>
		{% endfor %}
	</section>